<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.ssoft.vrs">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vrs"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/vrs"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            />
        </activity>
        <activity android:name=".View.LoginActivity" />
        <activity android:name=".View.VehicleDetailsActivity" />
        <activity android:name=".View.RegistrationActivity" />
        <activity
            android:name=".View.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.AddVehicleActivity" />

        <provider
            android:name=".Utils.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".View.BookVehicleActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".View.PaymentActivity" />
        <activity android:name=".View.SearchVehicleActivity" />
        <activity android:name=".View.BillGenerationActivity" />
        <activity android:name=".View.UserProfileActivity" />
        <activity android:name=".View.SettingActivity" />
        <activity android:name=".View.ResetPasswordActivity" />
        <activity android:name=".View.ImageViewActivity" />
        <activity android:name=".View.FeedBackActivity" />
        <activity android:name=".View.ContactUsActivity"></activity>
    </application>

</manifest>